[Unit]
Description=Mail filter for postfix running spam checks
Requires=postgresql.service
After=postgresql.service

[Service]
User=postfix
WorkingDirectory={{ mail_home }}
ExecStart=/usr/bin/python {{ mail_home }}/bin/spammilter.py

[Install]
WantedBy=multi-user.target
